<div class="bootstrapiso">
  <div class="container">
    <div class="form-control">
    
      <div class="logologin">
          <img src="assets/img/logo.jpg">

      </div>
     
        <div class="row">
                <div class="col-sm-12">
                <ngx-intl-tel-input [(value)]="phone_number"></ngx-intl-tel-input>
                </div>

        </div>
    
      <div class="row">
          <div class="col-sm-12">
              <button type="button" class="btn btn-primary" style="width:100%;">Verify Mobile</button>
              
          </div>
        </div>
      
    </div>
  </div>
</div>
      


<ngx-smart-modal #myModal identifier="myModal">
  <h1>Title</h1>
  <p>Some stuff...</p>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>