<div class="bootstrapiso">
    <div class="container">
      <div class="form-control form-control-private">
        <!-- <div class="row" style="margin-bottom: 20%;">
            <div class="col-sm-1 col-md-1 col-lg-1"></div> 
            <div class="col-sm-10 col-md-10 col-lg-10">
                <img class="img-fluid"  style="border-radius: 50%" src="assets/img/logo.jpg">
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>   
            
          
        </div> -->
        <div class="logologin">
            <img src="assets/img/logo.jpg">
  
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ngx-intl-tel-input id="phone_number" [(value)]="phone_number"></ngx-intl-tel-input>
            </div>

        </div>
        <div class="row">
                <div class="col-sm-12">
                    <input type="password" class="form-control" placeholder="ENTER PASSWORD">
                </div>
    
        </div>
    
      <div class="row">
          <div class="col-sm-12">
              <button type="button" class="btn btn-primary" style="width:100%;">Verify Mobile</button>
              
          </div>
        </div>
      
        
      </div>
    </div>
  </div>
        
  